*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /* GENERALI */
header {
  background-color: #ADD8E6;
  padding: 20px 0 0;
}

footer {
  background-color: #23272A;
}

section {
  padding: 30px 0;
}

.container {
  width: 60%;
  margin: 0px auto;
  background-color: #228B22;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.coloured-section {
  background-color: #D3D3D3;
}

 /* HEADER */
header .container.nav-container {
  height: fit-content;
}

header .logo {
  width: 20%;
  text-align: center;
  background-color: yellow;
  border: 1px solid black;
  padding: 5px 0;
}

header nav {
  width: 60%;
}

header nav ul {
  list-style: none;
  padding: 5px 0;
  background-color: yellow;
  border: 1px solid black;

  display: flex;
  justify-content: space-around;
}

header nav ul li a{
  text-decoration: none;
}

header .login {
  width: 20%;
  text-align: center;
  background-color: yellow;
  border: 1px solid black;
}

header .login .login-btn {
  padding: 5px 10px;
  cursor: pointer;
}

.jumbotron {
  background-color: #00008B;
  padding: 20px 0;
}

.container.jumbo {
  width: 40%;
  height: 400px;
  background-color: #EE82EE;
}

/* MAIN */
.coloured-section {

  background-color: #D3D3D3;
}

.img-container,
.text-container,
.big-contianer {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  width: 60%;
  background-color: #1E90FF;
 }

.text-container {
  width: 40%;
  background-color: #FFC0CB;
 }

.container.big-container {
  height: 800px;
 }

/* FOOTER */
.info-box {
  border-bottom: 1px solid grey;
}

.info-box .social {
  height: 400px;
  width: 30%;
  background-color: #F08080;
  border: 1px solid black;
}


.info-box .info-section {
  height: 400px;
  width: 17.5%;
  background-color: #20B2AA;
  border: 1px solid black;
}

footer .cta {
  width: 100%;
  height: 50px;
  background-color: #7FFFD4;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .cta .logo a,
footer .cta button {
  border: 1px solid black;
  background-color: #FFB6C1;
  padding: 5px 10px;
  cursor: pointer;
}